.img-border {
  border: solid 5px palevioletred;
}
.img-border-2 {
  border: 10px solid blueviolet;
  border-radius: 15px;
}
.img-border-2:hover {
  border: 10px solid blueviolet;
  border-radius: 0%;
}
.img-container {
  position: relative;
}
.section:first-of-type {
  height: 300px;
  background-color: aqua;
}

.section:last-of-type {
  height: 300px;
  background-color: yellow;
}
.img-1 {
  float: right;
}
img-2 {
  float: left;
}
